main {
    border: solid 2px $black;
    padding: $gutter_std / 2;
    min-height: 100px;
    margin: 0 auto;
}

header {
    background: $black;
    font-size: 1.5vw;
    padding: $gutter_std;

    a{
        color: $white;
    }
}
